{% comment %} <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name = 'viewport' content ="width=device-width , initial-scale =1"/>
        <title>StartUp</title>
        {%load static%}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family-roboto:300,400,500,700&display=swap"
        />
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/navbar.css"%}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/content.css"%}"/>
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        
        
        <h5>Curernt User :   {{current}}</h5>
        <h5>Resposta Questao : {{resposta_questao}}</h5>
        <h5>Resposta Usuario : {{resposta_usuario}}</h5>
        
        <form>
        

        </form> {% endcomment %}
